@page "/imagelist"
@using System.Text.Json;
@using İmageGallery.Models;
@using İmageGallery.Services;
@inject INasaService NasaService
@inject HttpClient httpClient
<h3>İmageList</h3>

<h3>JSON Veri Gösterme</h3>

@*@if (datas != null)
{
    <ul>
        @foreach (var item in datas.collection.items)
        {
            @foreach (var items in item.links)
            {
                <img style="width:200px; height:200px" src="@items.href" alt="..." class="img-thumbnail">
            }
        }
    </ul>
}
else
{
    <p>Loading...</p>
}*@


<ul>
    @{
        foreach (var datas in GetDatas)
        {
            foreach (var item in datas)
            {
                <h1>@item.nasa_id</h1>
            }
            

        }
    }
</ul>










@code {
    private Collection nasaData;
    private List<Link> links;
    private NasaApodModel nasaApod;
    private RootObject datas;
    private List<List<Data>> GetDatas;

    protected override async Task OnInitializedAsync()
    {
        // JSON verisini almak için HttpClient'i kullanıyoruz
        datas = await httpClient.GetFromJsonAsync<RootObject>("https://images-api.nasa.gov/search?media_type=image&page=7");

        var Search = datas.collection.items.Select(x=>x.data).ToList();

        GetDatas = Search;

    }
    
}
